<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.circle.web.postinvitation.mapper.APostCriticMapper">
    
    <resultMap type="APostCritic" id="APostCriticResult">
        <result property="id"    column="id"    />
        <result property="postUserId"    column="post_user_id"    />
        <result property="postNickName"    column="post_nick_name"    />
        <result property="content"    column="content"    />
        <result property="postInvitationId"    column="post_invitation_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="parentNickName"    column="parent_nick_name"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectAPostCriticVo">
        select id, post_user_id, post_nick_name, content, post_invitation_id, parent_id, parent_nick_name, province, city, create_by, create_time, update_by, update_time, del_flag from a_post_critic
    </sql>

    <select id="selectAPostCriticList" parameterType="APostCritic" resultMap="APostCriticResult">
        <include refid="selectAPostCriticVo"/>
        <where>  
            <if test="postUserId != null  and postUserId != ''"> and post_user_id = #{postUserId}</if>
            <if test="postNickName != null  and postNickName != ''"> and post_nick_name like concat('%', #{postNickName}, '%')</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="postInvitationId != null  and postInvitationId != ''"> and post_invitation_id = #{postInvitationId}</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="parentNickName != null  and parentNickName != ''"> and parent_nick_name like concat('%', #{parentNickName}, '%')</if>
            <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag}</if>
        </where>
    </select>
    
    <select id="selectAPostCriticById" parameterType="Long" resultMap="APostCriticResult">
        <include refid="selectAPostCriticVo"/>
        where id = #{id}
    </select>

    <update id="callInfoById">
        call createTemTable( #{id, mode=IN}, '0' )
    </update>

    <select id="getInfoById" statementType="CALLABLE" parameterType="Long" resultMap="APostCriticResult">
        -- 从临时表查询结果
        SELECT id,post_user_id,post_nick_name,post_invitation_id,content,parent_id,parent_nick_name,create_time FROM tmp_cur
    </select>

    <insert id="insertAPostCritic" parameterType="APostCritic" useGeneratedKeys="true" keyProperty="id">
        insert into a_post_critic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="postUserId != null">post_user_id,</if>
            <if test="postNickName != null">post_nick_name,</if>
            <if test="content != null">content,</if>
            <if test="postInvitationId != null ">post_invitation_id,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="parentNickName != null">parent_nick_name,</if>
            <if test="province != null">province,</if>
            <if test="city != null">city,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="postUserId != null">#{postUserId},</if>
            <if test="postNickName != null">#{postNickName},</if>
            <if test="content != null">#{content},</if>
            <if test="postInvitationId != null ">#{postInvitationId},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="parentNickName != null">#{parentNickName},</if>
            <if test="province != null">#{province},</if>
            <if test="city != null">#{city},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateAPostCritic" parameterType="APostCritic">
        update a_post_critic
        <trim prefix="SET" suffixOverrides=",">
            <if test="postUserId != null">post_user_id = #{postUserId},</if>
            <if test="postNickName != null">post_nick_name = #{postNickName},</if>
            <if test="content != null">content = #{content},</if>
            <if test="postInvitationId != null and postInvitationId != ''">post_invitation_id = #{postInvitationId},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="parentNickName != null">parent_nick_name = #{parentNickName},</if>
            <if test="province != null">province = #{province},</if>
            <if test="city != null">city = #{city},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAPostCriticById" parameterType="Long">
        delete from a_post_critic where id = #{id}
    </delete>

    <delete id="deleteAPostCriticByIds" parameterType="String">
        delete from a_post_critic where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getCriticInfoByUserId" parameterType="APostCritic" resultType="com.circle.web.postinvitation.domain.vo.APostCriticVo">
        select c.id id,
        c.post_user_id postUserId,
        c.post_nick_name postNickName,
        c.content content,
        c.post_invitation_id postInvitationId,
        i.title postInvitationTitle,
        c.parent_id parentId,
        c.parent_nick_name parentNickName,
        nvl(cr.content, '') parentContent,
        c.create_time
        from a_post_critic c
        inner join a_post_invitation i on c.post_invitation_id = i.id
        left join a_post_critic cr on c.parent_id = cr.id
        <where>
            <if test="postUserId != null  and postUserId != ''"> and c.post_user_id = #{postUserId}</if>
            <if test="delFlag != null and delFlag != ''"> and c.del_flag = #{delFlag}</if>
        </where>
        order by c.create_time desc
    </select>

    <select id="getReplyInfoByUserId" parameterType="APostCritic" resultType="com.circle.web.postinvitation.domain.vo.APostCriticVo">
        select c.id id,
        c.post_user_id postUserId,
        c.post_nick_name postNickName,
        c.content content,
        c.post_invitation_id postInvitationId,
        i.title postInvitationTitle,
        c.parent_id parentId,
        c.parent_nick_name parentNickName,
        nvl(cr.content, '') parentContent,
        c.create_time
        from a_post_critic c
        inner join a_post_invitation i on c.post_invitation_id = i.id
        inner join a_post_critic cr on c.parent_id = cr.id
        <where>
            <if test="postUserId != null  and postUserId != ''"> and cr.post_user_id = #{postUserId}</if>
            <if test="delFlag != null and delFlag != ''"> and c.del_flag = #{delFlag}</if>
        </where>
        order by c.create_time desc
    </select>
</mapper>